{% extends 'person/base.html' %}
{% load i18n static extras %}

{% block "profile" %}
  <a href="{{ object.get_absolute_url }}"><img id="photo" src="{{ object.icon.url }}"/></a>
{% endblock %}

{% block "bio" %}
  <p>
    {% trans "Each Inkscape team has responsibilities, rules and specific privileges. These are documented here, so all teams understand how they are supposed to work and what may be required of them." %}
  </p>
{% endblock %}

{% if object.charter %}
  {% if object.side_bar %}
    {% block "side" %}
      {% if object.side_bar %}
        {{ object.side_bar|safe }}
      {% endif %}
    {% endblock %}

    {% block "content" %}
      <h2>{% trans "Team Charter" %}</h2>
      <div class="info">
        {{ object.charter|safe }}
      </div>
    {% endblock %}
  {% else %}
    {% block "allcontent" %}
      <h2>{% trans "Team Charter" %}</h2>
      <div class="info">
        {{ object.charter|safe }}
      </div>
    {% endblock %}
  {% endif %}
{% endif %}
