{% load i18n static %}
<html>
  <head>
    <title>{{ object.name}} {% trans "by" %} {{ object.user }}</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/resources/main.css" %}"/>
    <script type="text/javascript" src="{% static "js/gallery.js" %}"></script>
  </head>
  <body>
    <div class="item">
      {% include "resources/resource_view.html" %}
    </div>
  </body>
</html>
